@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('@/assets/fonts/ShadowsIntoLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;